.pathFinderLegend {
  border: 1px dotted black;
  margin-right: 40px;
}
.pathFinderLegendCell {
  display: inline-table;
  height: 25px;
  width: 2%;
  padding: 3px 7px;
  line-height: 15px;
}
.pathFinderLegendLabel {
  font-size: 1.5vh;
}
#legendVisited {
  width: 20px !important;
}
#legendVisiting {
  width: 20px !important;
}
