.towerBlock {
  height: 1.2vh;
  width: 1.15vw;
}
.tower {
  float: left;
  margin: 0.29vw;
  background-color: cadetblue;
}
.highlightedTower {
  float: left;
  margin: 0.29vw;
  background-color: greenyellow;
}
